# Core
Django==6.0.7
gunicorn==23.0.0
whitenoise==6.9.0
dj-database-url==2.3.0

# ML & Data
scikit-learn==1.9.0
xgboost==3.3.0
joblib==1.5.3
pandas==3.0.3
numpy==2.5.0
scipy==1.18.0

# Database
sqlparse==0.5.5
